.participantesdisplay    {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    

}

.participantesdisplay h2 {
    
}

.encabezadoParticipantes {
        display: flex;
        flex-direction: row;
        border: 1px solid var(--primary);
        gap: 15px;
        
        width: 1000px;
        justify-content: space-evenly;
        text-align: center;
    
    }

    
.encabezadoParticipantes p {
    width: 200px;
    font-weight: bold;

}



